body {
    background-color: ivory;
    width: 800px;
    margin: 0 auto;
}

h2 {
    background-color: wheat;
    color: white;
    border-bottom:6px solid black;
    padding: 6px 12px 0 12px;
    margin-bottom: 0;
}

h1 {
    font-size: 3em;
    background-color: palevioletred;
    color: ivory;
    margin: 0;
    padding: 16px;
}

.box {
    background-color: palevioletred;
    padding: 12px;
    border-radius: 0 0 16px 16px;
}
nav {
    background-color: wheat;
    padding: 0 16px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:40px ;
}
nav a {
    color: black;
}

nav a:hover {
    color: navajowhite;
    font-size: 28px; 
    background-color: gray;
}

.col2 {
    display: flex;
    justify-content: space-around;
}
